@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $desctop36px $desctop120px;
    position: relative;
    z-index: 9999;
    background: $blueGradient;
    border-bottom: $desctop2px solid rgba(149, 252, 253, 0.1);

    &__login,
    &__signUp {
        font-family: $DrukTextWide-Bold;
        border: none;
        background-color: transparent;
        width: $desctop220px;
        height: $desctop48px;
        outline: none;
        cursor: pointer;
        font-size: $desctop12px;
        line-height: $desctop12px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__login {
        margin-right: $desctop25px;
        color: #928DBD;
    }

    &__signUp {
        color: $white;
    }

    &__logo {
        font-family: $DrukTextWide-Super;
        font-size: $desctop30px;
        line-height: $desctop30px;
        text-align: center;
        letter-spacing: $desctop2px;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
    }

    &__nav {
        &_list {
            display: flex;

            li {
                display: flex;
                height: 0.834vw;
                &:not(:last-child) {
                    margin-right: $desctop100px;
                }
                a {
                    font-family: $DrukTextWide-Bold;
                    font-size: $desctop16px;
                    line-height: $desctop16px;
                    color: $white;
                    text-decoration: none;
                    transition: all 0.25s;

                    &:hover {
                        color: #6EFFFF;
                    }
                }
            }
        }
    }
}
