@import '../../assets/styles/variables';

.animationLogo,
.animationNav ul li,
.animationButtons,
.animationButtons button,
.animationButtons div {
    transform: translateY(-100px);
    transition: transform 0.5s;

    @media only screen and (max-width: 767px) {
        transform: translateY(0);
    }
}

.domLoaded .animationLogo,
.domLoaded .animationNav ul li,
.domLoaded .animationButtons,
.domLoaded .animationButtons button,
.domLoaded .animationButtons div {
    transform: translateY(0);
}

.animationLogo {
    display: flex;
    transition-delay: 0.15s;
}

.animationNav ul li {
    &:nth-child(1) {
        transition-delay: 0.3s;
    }

    &:nth-child(2) {
        transition-delay: 0.45s;
    }

    &:nth-child(3) {
        transition-delay: 0.6s;
    }

    &:nth-child(4) {
        transition-delay: 0.75s;
    }
}

.animationButtons {
    transition-delay: 0.9s;
}
