@import '../../assets/styles/variables';

.inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 100%;

    &__invalid {
        color: $red;
        bottom: -1.3vw;
        font-family: $CoreSansGRegular;
        font-weight: 400;
        font-size: 0.8vw;
        width: 100%;
        position: absolute;
        white-space: nowrap;
    }
}
