@import '../../assets/styles/variables';

.table {
    border: 1px solid black;
    width: 100%;
    background-color: $white;

    &__row {
        display: flex;
        padding: 3.3rem 1.9rem 3.6rem;
        box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.05);
        background-color: $white;
        box-sizing: border-box;
        margin-bottom: 1.4rem;
        justify-content: space-between;
    }
    &__td {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1.6rem;

        /* identical to box height, or 89% */
        border: 1px solid $white;
        color: $textDarkLight;
    }
}
