$CoreSansGRegular: 'CoreSansG-Regular', Arial, Helvetica, sans-serif;
$DrukTextWide-Super: 'DrukTextWide-Bold', Arial, Helvetica, sans-serif;
$DrukTextWide-Medium: 'DrukTextWide-Bold', Arial, Helvetica, sans-serif;
$DrukTextWide-Bold: 'DrukTextWide-Bold', Arial, Helvetica, sans-serif;

$blueGradient:  linear-gradient(35.47deg, #2A1F84 0%, #221876 72.59%);
$black: #000000;
$white: #ffffff;


$greenGradient: linear-gradient(0deg, #14d999, #14d999);
$footerGradient: linear-gradient(180deg, #191C2D -54.09%, #2B73A5 175.45%);
$bodyColor: #fafbff;
$cabinerBackColor: #fcfcfc;
$textDark: #232323;
$textDarkLight: #151719;
$greyLight: #505761;
$greyDark: #3e3e3e;
$greyButton: #92969c;
$greenLight: #57AB2F;
$brownColor: #B2947B;
$blueDark: #007aff;
$red: #ff455c;
$inputColor: #f2f3f9;
$dottedLine: #dcdcdc;
$borderColor: #efefef;

// desctop sizes
$desctop1px: 0.0523vw;
$desctop2px: 0.105vw;
$desctop4px: 0.21vw;
$desctop5px: 0.261vw;
$desctop6px: 0.313vw;
$desctop8px: 0.42vw;
$desctop10px: 0.521vw;
$desctop12px: 0.63vw;
$desctop13px: 0.68vw;
$desctop14px: 0.73vw;
$desctop15px: 0.782vw;
$desctop16px: 0.834vw;
$desctop17px: 0.89vw;
$desctop18px: 0.94vw;
$desctop20px: 1.042vw;
$desctop21px: 1.094vw;
$desctop22px: 1.15vw;
$desctop24px: 1.25vw;
$desctop25px: 1.303vw;
$desctop30px: 1.565vw;
$desctop32px: 1.67vw;
$desctop34px: 1.771vw;
$desctop36px: 1.88vw;
$desctop40px: 2.09vw;
$desctop45px: 2.35vw;
$desctop48px: 2.5vw;
$desctop50px: 2.61vw;
$desctop55px: 2.87vw;
$desctop60px: 3.13vw;
$desctop65px: 3.39vw;
$desctop68px: 3.55vw;
$desctop75px: 3.92vw;
$desctop100px: 5.21vw;
$desctop120px: 6.25vw;
$desctop195px: 10.19vw;
$desctop220px: 11.49vw;
$desctop245px: 12.81vw;
