@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.workPrinciples {
    background: $blueGradient;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 52vw;

    @media only screen and (max-width: 767px) {
        height: auto;
    }

    &__icon {
        display: none;

        @media only screen and (max-width: 767px) {
            width: 90.45vw;
            height: 81vw;
            display: flex;
        }
    }

    &__title {
        font-family: $DrukTextWide-Medium;
        font-size: $desctop48px;
        color: $white;
        margin-bottom: 4.70vw;

        @media only screen and (max-width: 767px) {
            font-size: 6.48vw;
            line-height: 9.18vw;
            margin-bottom: 10.8vw;
        }
    }

    &__wrapper {
        padding: 4.18vw 12.70vw 7.32vw 46vw;

        @media only screen and (max-width: 767px) {
            padding: 0 12.15vw 20vw;
        }
    }

    &__buttonWrapper {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 767px) {
            flex-direction: column;
        }

        &_icons {
            width: 5vw;

            @media only screen and (max-width: 767px) {
                width: 21.6vw;
            }
        }

        &_iconsWrapper {
            display: flex;

            @media only screen and (max-width: 767px) {
                justify-content: space-between;
                width: 100%;
                margin-bottom: 16.2vw;
            }
        }

        &_text {
            font-family: $CoreSansGRegular;
            font-size: $desctop24px;
            line-height: $desctop30px;
            color: #F77723;
            margin: 0 $desctop60px 0 $desctop24px;;

            @media only screen and (max-width: 767px) {
                font-size: 4.32vw;
                line-height: 9.72vw;
            }
        }
    }

    &__getStartde {
        font-family: $DrukTextWide-Bold;
        border: none;
        background-color: transparent;
        min-width: 11.6vw;
        width: fit-content;
        height: $desctop48px;
        outline: none;
        cursor: pointer;
        font-size: $desctop12px;
        line-height: $desctop12px;
        text-align: center;
        letter-spacing: $desctop1px;
        text-transform: uppercase;
        color: $white;
        margin-right: $desctop68px;

        @media only screen and (max-width: 767px) {
            order: 1;
            width: 100%;
            height: 16.2vw;
            font-size: 3.24vw;
            line-height: 3.24vw;
            letter-spacing: 0.27vw;
            margin-bottom: 5.4vw;
        }
    }

    &__stepsWrapper {

        &_item {
            display: flex;
            align-items: center;
            margin-bottom: 4.44vw;

            @media only screen and (max-width: 767px) {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 10.8vw;
            }

            &:last-child {
                margin-bottom: $desctop60px;

                @media only screen and (max-width: 767px) {
                    margin-bottom: 10.8vw;
                }
            }

            svg {
                min-width: $desctop100px;
                width: 5.21vw;
                height: $desctop48px;
                margin-right: $desctop21px;

                @media only screen and (max-width: 767px) {
                    width: 20.25vw;
                    height: 9.72vw;
                    margin: 0 0 5.34vw 0;
                }
            }

            p {
                font-family: $CoreSansGRegular;
                font-size: $desctop24px;
                line-height: $desctop40px;
                color: $white;

                @media only screen and (max-width: 767px) {
                    font-size: 4.32vw;
                    line-height: 9.72vw;
                }
            }
        }
    }
}
